.footer {
    background-color: #758283;
    color: white;
    /* position: absolute;
    bottom: 0; */
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    width: 100%;
    height: 80px;

    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}