.banner {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-top: 25px;
    /* text-align: left; */
    padding: 10px 80px;


}

.banner-img {
    text-align: right;

}

.banner-img img {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}


/* make services responsive */
/* for mobile */
@media only screen and (max-width:576px) {
    .banner {
        grid-template-columns: repeat(1, 1fr);
        text-align: left;
        padding: 20px;
    }

    .banner-img {
        text-align: center;

    }


}